<!DOCTYPE html>
<html>

<head>
  <title>Weather app</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  {{>header}}
  <img src="/img/cat.png" alt="cat" />
  {{>footer}}
</body>

</html>