<!DOCTYPE html>
<html>

<head>
  <title>Weather app</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,user-scalable=0,minimum-scale=1,maximum-scale=1" />
</head>

<body>
  {{>header}}
  <form>
    <input placeholder="Enter Location" />
    <button type="submit">Submit</button>
  </form>
  <div id="img-container"></div>
  <p id="message-1"></p>
  <p id="message-2"></p>
  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>